<div class="inner">
  <h4>Documentation</h4>
  <h5>Introduction</h5>
  <ul>
    <li><a play-topic="intro">Getting started</a></li>
    <li><a play-topic="graphs">Basic graph concepts</a></li>
    <li><a play-topic="cypher">Writing Cypher queries</a></li>
  </ul>
  <h5>Reference Library</h5>
  <ul class="undecorated">
    <li><a href="{{ neo4j.version | neo4jDeveloperDoc }}/">Developer Manual</a></li>
    <li><a href="{{ neo4j.version | neo4jOperationsDoc }}/">Operations Manual</a></li>
    <li><a href="{{ neo4j.version | neo4jCypherRefcardDoc }}/">Cypher</a></li>
    <li><a href="http://graphgist.neo4j.com/">GraphGists</a></li>
  </ul>
  <h5>Help</h5>
  <ul>
    <li><a help-topic="help">Help</a></li>
    <li><a help-topic="cypher">Cypher syntax</a></li>
    <li><a help-topic="commands">Available commands</a></li>
    <li><a help-topic="keys">Keyboard shortcuts</a></li>
  </ul>
</div>