<div class="inner">
  <h4>About Neo4j</h4>
  <h5>Made by<a href="http://neotechnology.com/" class="no-icon"> Neo Technology</a></h5>
  <p>Copyright &copy; 2002–<span>2016</span></p>
  <h5>Neo4j Browser</h5>
  <p><span>You are running version ${project.version}</span></p>
  <h5>License</h5>
  <p><a href="http://www.gnu.org/licenses/gpl.html" class="no-icon">GPLv3</a> or<a href="http://www.gnu.org/licenses/agpl-3.0.html" class="no-icon"> AGPL</a> for Open Source,<br>and<a href="http://neotechnology.com/" class="no-icon"> NTCL</a>
    <for>Commercial.</for>
  </p>
  <h5>Participate</h5>
  <ul>
    <li>Ask questions at<a href="http://stackoverflow.com/questions/tagged/neo4j" class="no-icon"> Stack Overflow</a></li>
    <li>Discuss Neo4j on<a href="http://groups.google.com/group/neo4j" class="no-icon"> Google Groups</a></li>
    <li>Visit a local<a href="http://neo4j.meetup.com/" class="no-icon"> Meetup Group</a></li>
    <li>Contribute code on<a href="http://github.com/neo4j" class="no-icon"> Github</a></li>
  </ul>
  <h5>Thanks</h5>
  <p>Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.</p>
</div>
<footer>With&nbsp;<span class="fa fa-heart"></span> from Sweden.</footer>