<article ng-controller="ChangePasswordCtrl" class="help">
  <div class="container-fluid">
    <div ng-show="(static_is_authenticated &amp;&amp; static_user) || password_change_required" class="section row-fluid summary">
      <div ng-show="!showCurrentPasswordField()" class="summary col-sm-3">
        <h3>Set Password</h3>
        <p class="lead">You have to set a password before you can connect.</p>
      </div>
      <div ng-show="showCurrentPasswordField()" class="summary col-sm-3">
        <h3>Password change</h3>
        <p ng-show="showCurrentPasswordField()" class="lead">Enter your current password and the new twice to change your password.</p>
      </div>
      <div ng-hide="password_changed" class="details col-sm-9">
        <div class="form">
          <div class="row">
            <div ng-show="showCurrentPasswordField()" class="col-sm-5">Current Password<br>
              <input type="password" focus-on="showCurrentPasswordField()" on-enter="focus" on-enter-target-id="new_connect_password1" ng-model="current_password" style="margin: 0" tabindex="1" class="form-control"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">New Password<br>
              <input type="password" focus-on="!showCurrentPasswordField()" id="new_connect_password1" on-enter="focus" on-enter-target-id="new_connect_password2" ng-model="new_password" style="margin: 0" tabindex="2" class="form-control"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">New Password Again<br>
              <input type="password" id="new_connect_password2" on-enter="click" on-enter-target-id="set_connect_password" ng-model="new_password2" style="margin: 0" tabindex="3" class="form-control"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <button id="set_connect_password" ng-click="setNewPassword()" style="margin: 0" class="btn btn-default">Set  password</button>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="password_changed" class="details col-sm-9"><br><br>
        <p>Your new password is now in effect.</p>
      </div>
    </div>
    <div ng-show="static_is_authenticated &amp;&amp; !static_user &amp;&amp; !password_change_required" class="section row-fluid summary">
      <div class="summary col-sm-3">
        <h3>Password change</h3>
        <p class="lead">This is not available.</p>
      </div>
      <div class="details col-sm-9">
        <p>You can't change password when server auth is disabled.</p>
      </div>
    </div>
    <div ng-show="!static_is_authenticated &amp;&amp; !password_change_required" class="section row-fluid summary">
      <div class="summary col-sm-3">
        <h3>Password change</h3>
        <p class="lead">This is not available.</p>
      </div>
      <div class="details col-sm-9">
        <p>You can't change password when not authenticated.</p>
      </div>
    </div>
  </div>
</article>