<div id="grass" ng-controller="StylePreviewCtrl">
  <div class="modal-header"><a ng-click="togglePopup()" class="close pull-right">&times;</a>
    <ul class="list-inline">
      <li>
        <h3 style="display:inline">Graph Style Sheet</h3>
      </li>
      <li><a exportable ng-click="exportGraSS(code)" tooltip-placement="bottom" tooltip="Export to file" class="fa fa-download"></a></li>
      <li><a exportable ng-click="reset()" tooltip-placement="bottom" tooltip="Reset to default style" class="fa fa-fire-extinguisher"></a></li>
    </ul>
  </div>
  <div class="modal-body">
    <textarea ng-model="code" disabled="disabled"></textarea>
    <file-upload upload="import($content)" message="Drop a grass-file here to import">&nbsp;</file-upload>
  </div>
</div>