<div id="leftbar" ng-controller="SidebarCtrl">
  <div id="nav">
    <ul class="nav list-group">
      <li ng-class="{active: showingDrawer(&quot;database&quot;) }" tooltip="Database" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;database&quot;)"><a ng-click="toggleDrawer(&quot;database&quot;)" class="database sl sl-database"></a></li>
      <li ng-class="{active: showingDrawer(&quot;scripts&quot;) }" tooltip="Favorites" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;scripts&quot;)"><a ng-click="toggleDrawer(&quot;scripts&quot;)" class="favorites sl sl-star"></a></li>
      <li ng-class="{active: showingDrawer(&quot;info&quot;) }" tooltip="Documentation" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;info&quot;)"><a ng-click="toggleDrawer(&quot;info&quot;)" class="guides sl sl-book"></a></li>
    </ul>
    <ul class="nav bottom">
      <li ng-class="{active: showingDrawer(&quot;profile&quot;) }" tooltip="Cloud Services" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;profile&quot;)" class="nav-user"><a ng-click="toggleDrawer(&quot;profile&quot;)" class="cloud">
          <div ng-style="{&quot;background-image&quot;: &quot;url(&quot;+currentUser.picture+&quot;)&quot;}" ng-if="currentUser.picture &amp;&amp; syncService.hasConnection" class="avatar">&nbsp;</div><i style="" ng-if="syncService.hasConnection" class="sl sl-cloud"></i><i style="" ng-if="!syncService.hasConnection" class="sl sl-cloud-delete error"></i></a></li>
      <li ng-class="{active: showingDrawer(&quot;preferences&quot;) }" tooltip="Browser Settings" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;preferences&quot;)"><a ng-click="toggleDrawer(&quot;preferences&quot;)" class="preferences sl sl-setting-gear"></a></li>
      <li ng-class="{active: showingDrawer(&quot;credits&quot;) }" tooltip="About Neo4j" tooltip-placement="right" tooltip-enable="!showingDrawer(&quot;credits&quot;)"><a ng-click="toggleDrawer(&quot;credits&quot;)" class="credits nw nw-neo4j-outline-32px"></a></li>
    </ul>
  </div>
  <div id="drawer" ng-switch on="whichDrawer">
    <div ng-switch-when="database" class="pane animate-drawer">
      <div class="inner">
        <h4>Database Information</h4>
        <h5>Node labels</h5><a ng-show="labels.length" ng-click="editor.execScript('MATCH (n) RETURN n LIMIT 25')" class="token token-label">*</a><span ng-show="!labels.length">No labels in database</span><span ng-repeat="label in labels | orderBy: identity"><a ng-click="editor.execScript(substituteToken('MATCH (n:&lt;token&gt;) RETURN n LIMIT 25', label))" class="token token-label">{{label}}</a></span>
        <h5>Relationship types</h5><a ng-show="relationships.length" ng-click="editor.execScript('MATCH ()-[r]-&gt;() RETURN r LIMIT 25')" class="token token-relationship-type">*</a><span ng-show="!relationships.length">No relationships in database</span><span ng-repeat="relationshipType in relationships | orderBy: identity"><a ng-click="editor.execScript(substituteToken('MATCH p=()-[r:&lt;token&gt;]-&gt;() RETURN p LIMIT 25', relationshipType))" class="token token-relationship-type">{{relationshipType}}</a></span>
        <div ng-show="propertyKeys">
          <h5>Property keys</h5><span ng-show="!propertyKeys.length">No property keys in database</span><span ng-repeat="propertyKey in propertyKeys | orderBy: identity"><a ng-click="editor.execScript(substituteToken('MATCH (n) WHERE EXISTS(n.&lt;token&gt;) RETURN DISTINCT &quot;node&quot; as element, n.&lt;token&gt; AS &lt;token&gt; LIMIT 25 UNION ALL MATCH ()-[r]-() WHERE EXISTS(r.&lt;token&gt;) RETURN DISTINCT &quot;relationship&quot; AS element, r.&lt;token&gt; AS &lt;token&gt; LIMIT 25', propertyKey))" class="token token-property-key">{{propertyKey}}</a></span>
        </div>
        <h5>Database</h5>
        <ul>
          <li class="pair">
            <div class="key">Version:</div>
            <div class="value">{{ neo4j.version }}</div>
          </li>
          <li class="pair">
            <div class="key">Name:</div>
            <div class="value">{{kernel.DatabaseName || '-'}}</div>
          </li>
          <li class="pair">
            <div class="key">Size:</div>
            <div class="value">{{kernel.TotalStoreSize | humanReadableBytes}}</div>
          </li>
          <li class="pair">
            <div class="key">Information</div><a play-topic="sysinfo" class="value">sysinfo</a>
          </li>
        </ul>
      </div>
    </div>
    <div ng-switch-when="scripts" class="pane animate-drawer">
      <div class="inner">
        <h4 ng-class="{subtitled: currentUser}">
          <div class="sub">Favorites<a ng-click="folderService.create()" class="create-folder">
              <div class="fa fa-plus"></div>New folder</a><small ng-if="syncService.inSync">Synced&nbsp;<span am-time-ago="syncService.lastSyncedAt"></span></small><small ng-show="syncService.hasConnection">Connected</small><small ng-hide="syncService.hasConnection">Not Connected</small><small ng-if="!syncService.inSync" ng-click="syncService.push()" class="error"><a>Out of sync</a></small></div>
        </h4>
        <h5 ng-if="settings.showSampleScripts &amp;&amp; haveSavedScripts()">Saved Scripts</h5>
        <div ng-if="haveSavedScripts()" ng-repeat="folder in folders" class="droppable">
          <h5 ng-click="folderService.expand(folder)" ng-if="folder.id != 'root'" ng-class="{folded: !folder.expanded}" class="folder"><i ng-class="{'fa-rotate-90': folder.expanded}" class="fa fa-caret-right"></i>
            <div edit-in-place="folder.name" on-blur="folderService.save()"></div><a ng-click="removeFolder(folder)" tooltip-placement="left" tooltip="Remove folder" class="fa fa-trash-o"></a>
          </h5>
          <hr ng-if="folder.id == 'root'">
          <ul ng-show="folder.expanded" ui-sortable="sortableOptions" ng-model="folder.documents" ng-class="{'indented': folder.id != 'root'}" class="starred sortable">
            <li ng-repeat="document in folder.documents">
              <div ng-click="editor.loadDocument(document.id)" ng-class="{loaded: editor.document.id == document.id}" class="list-item"><a ng-click="playDocument(document.content);$event.stopPropagation()" ng-class="{&quot;icon-loaded fa-play-circle&quot;: editor.document.id == document.id, &quot;fa-circle-thin&quot;: editor.document.id != document.id}" class="fa icon"></a><a ng-click="playDocument(document.content);$event.stopPropagation()" class="fa fa-play-circle icon-inactive"></a><a ng-click="removeDocument(document);$event.stopPropagation()" class="fa fa-trash-o"></a>
                <div class="contents"><a>{{document.content | autotitle}}</a></div>
              </div>
            </li>
          </ul>
        </div>
        <div ng-show="settings.showSampleScripts">
          <h5>Sample Scripts</h5>
          <div ng-repeat="folder in sampleScripts">
            <h5 ng-click="folder.expanded = !folder.expanded" ng-class="{folded: !folder.expanded}" class="folder"><i ng-class="{'fa-rotate-90': folder.expanded}" class="fa fa-caret-right"></i>
              <div>{{ folder.name }}</div>
            </h5>
            <ul ng-show="folder.expanded" ng-class="{'indented': folder.id != 'root'}">
              <li ng-repeat="document in folder.documents">
                <div ng-click="run(document)" class="list-item"><a ng-click="playDocument(document.content);$event.stopPropagation()" class="fa icon fa-circle-thin"></a><a ng-click="playDocument(document.content);$event.stopPropagation()" class="fa fa-play-circle icon-inactive"></a>
                  <div class="contents"><a>{{document.content | autotitle}}</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <h5>Styling / Graph Style Sheet</h5>
        <ul>
          <li>
            <button ng-click="editor.execScript(settings.cmdchar + 'style')" class="btn btn-sm btn-popup">Graph Style Sheet</button>
          </li>
        </ul>
        <h5>Import</h5>
        <file-upload upload="importDocument($content, $name)" extension="cyp|cypher|cql|txt|grass" message="Drop a file to import Cypher or Grass">&nbsp;</file-upload>
      </div>
    </div>
    <div ng-switch-when="info" class="pane animate-drawer">
      <div class="inner">
        <h4>Documentation</h4>
        <h5>Introduction</h5>
        <ul>
          <li><a play-topic="intro">Getting started</a></li>
          <li><a play-topic="graphs">Basic graph concepts</a></li>
          <li><a play-topic="cypher">Writing Cypher queries</a></li>
        </ul>
        <h5>Reference Library</h5>
        <ul class="undecorated">
          <li><a href="{{ neo4j.version | neo4jDeveloperDoc }}/">Developer Manual</a></li>
          <li><a href="{{ neo4j.version | neo4jOperationsDoc }}/">Operations Manual</a></li>
          <li><a href="{{ neo4j.version | neo4jCypherRefcardDoc }}/">Cypher</a></li>
          <li><a href="http://graphgist.neo4j.com/">GraphGists</a></li>
        </ul>
        <h5>Help</h5>
        <ul>
          <li><a help-topic="help">Help</a></li>
          <li><a help-topic="cypher">Cypher syntax</a></li>
          <li><a help-topic="commands">Available commands</a></li>
          <li><a help-topic="keys">Keyboard shortcuts</a></li>
        </ul>
      </div>
    </div>
    <div ng-switch-when="profile" class="pane animate-drawer">
      <div class="inner">
        <h4 class="subtitled">
          <div ng-if="!currentUser" class="sub">Neo4j Browser Sync</div>
          <div ng-if="currentUser" class="sub">{{currentUser.name}}<small ng-if="syncService.inSync &amp;&amp; currentUser">Synced&nbsp;<span am-time-ago="syncService.lastSyncedAt"></span></small><small ng-if="!syncService.inSync &amp;&amp; currentUser" ng-click="syncService.push()" class="error"><a>Out of sync</a></small><small ng-show="syncService.hasConnection">Connected</small><small ng-hide="syncService.hasConnection">Not Connected</small></div>
        </h4>
        <h5 ng-if="currentUser">Versions</h5>
        <div ng-if="currentUser">
          <p>You have access to the last 5 versions, in case you want to restore to an older version.</p>
          <div ng-repeat="key in syncService.syncKeys" ng-controller="SyncVersionRestoreKeyCtrl">
            <h6 style="margin-top: 15px">{{key.display | uppercase}}</h6>
            <select ng-options="val.syncedAt as ((val.syncedAt | toYYYYMMDDHis) + ' (' + val.client + ')') for val in ntn_data[key.value]" ng-model="pickedTimestamp" class="form-control version-select">
              <option>No saved version available</option>
            </select>
            <button ng-click="syncService.restoreToVersion(key.value, pickedTimestamp, removeElementCallback(this))" ng-show="pickedTimestamp &amp;&amp; pickedTimestamp != ntn_data[key.value][0].syncedAt" class="btn btn-popup restore-button">Restore</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <h5>Manage local data</h5>
        <div ng-if="!currentUser" class="local-data-holderdiv">
          <div ng-show="!clearSingleClicked" class="local-data-confirm">
            <p>This will reset your local storage, clearing favorite scripts, grass, command history and settings.</p>
            <div>
              <button ng-click="updateClearSingleClicked(1)" class="btn btn-popup">Clear local data &nbsp;<i class="sl sl-bin"></i></button>
            </div>
          </div>
          <div ng-show="clearSingleClicked" class="local-data-confirm">
            <div>
              <p><b>WARNING:&nbsp;</b>This WILL erase your data stored in this web browsers local storage.</p>
              <p>What do you want to do?<br><span class="small">(nothing, &nbsp;<a ng-click="updateClearSingleClicked(0)">cancel</a>)</span></p>
            </div>
            <div>
              <button ng-click="signoutAndClearLocalStorage()" class="btn btn-popup btn-non-destructive">Clear local data</button>
            </div>
          </div>
        </div>
        <div ng-if="currentUser" class="local-data-holderdiv">
          <div ng-show="!clearSingleClicked" class="local-data-confirm">
            <p>This will clear your favourite scripts, grass, command history etc. locally.</p>
            <div>
              <button ng-click="updateClearSingleClicked(1)" class="btn btn-popup">Clear local data &nbsp;<i class="sl sl-bin"></i></button>
            </div>
          </div>
          <div ng-show="clearSingleClicked" class="local-data-confirm">
            <div>
              <p><b>WARNING:&nbsp;</b>If you don't sign out from Neo4j Browser Sync first, the sync servers data could be cleared as well.
                Your data could be lost.
              </p>
              <p>What do you want to do?<br><span class="small">(nothing, &nbsp;<a ng-click="updateClearSingleClicked(0)">cancel</a>)</span></p>
            </div>
            <div>
              <button ng-click="signoutAndClearLocalStorage()" class="btn btn-popup btn-non-destructive">Sign out + clear</button>
            </div>
          </div>
        </div>
        <div ng-if="currentUser &amp;&amp; syncService.hasConnection">
          <p>&nbsp;</p>
          <p>
            <button ng-click="CurrentUser.logout(); toggleDrawer('profile') " class="btn btn-popup btn-destructive">Sign out</button>
          </p>
        </div>
        <div ng-if="!currentUser &amp;&amp; syncService.hasConnection" ng-controller="SyncSigninController">
          <p>&nbsp;</p>
          <h5>Sign In or Register</h5>
          <p>
            Neo4j Browser Sync is a companion cloud service for Neo4j Browser. Connect through a simple social sign-in
            to get started.
          </p>
          <p> <a play-topic="neo4j-sync">About Neo4j Browser Sync</a></p>
          <alert ng-hide="goodBrowser" class="top-padded">
             
            Neo4j Browser Sync is currently only available for some versions of Internet Explorer.
            If you have any trouble, we'd love to hear from you at&nbsp;<a href="mailto:feedback@neotechnology.com">feedback@neotechnology.com</a>
          </alert>
          <button ng-click="signInToSync()" class="btn btn-popup">Sign In / Register</button>
          <div class="box-max">
            <div class="checkbox">
              <label for="acceptedTermsAndPrivacyCheckBox" class="muted">
                <input id="acceptedTermsAndPrivacyCheckBox" type="checkbox" ng-model="settings.acceptedTermsAndPrivacy" ng-change="save()">By checking this box you are agreeing to the <a href="http://neo4j.com/terms/neo4j-browser-sync/">Neo4j Browser Sync Terms of Use</a>&nbsp;and our&nbsp;<a href="http://neo4j.com/privacy-policy/">Privacy Policy</a>.  
              </label>
            </div>
          </div>
          <alert ng-show="showSignupWarning" close="closeWarning()">Before you can sign in, please check the box above to agree to the terms of use and privacy policy.</alert>
        </div>
        <div ng-if="!syncService.hasConnection &amp;&amp; !currentUser" class="connection-error">
          <p>&nbsp;</p>
          <p>It is not possible to connect to Neo4j Browser Sync right now.</p>
        </div>
      </div>
      <footer>
        <p>What's this?&nbsp;<a href="http://neo4j.com/neo4j-browser-sync">Learn More</a></p>
      </footer>
    </div>
    <div ng-switch-when="preferences" class="pane animate-drawer">
      <div class="inner">
        <h4>Browser Settings</h4>
        <form ng-controller="SettingsCtrl">
          <div ng-show="showMessengerButton()">
            <h5>Messaging</h5>
            <div class="checkbox">
              <label for="shouldReportUdc">
                <input id="shouldReportUdc" type="checkbox" ng-model="settings.shouldReportUdc" ng-change="save()"><span>&nbsp; Share non-sensitive data?</span>
              </label>
            </div>
            <button ng-click="showMessenger()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope">&nbsp;Messenger</span></button>
          </div>
          <h5>User Interface</h5>
          <div class="form-group">
            <label>Theme</label>
            <div class="radio">
              <label>
                <input type="radio" name="themeRadio" id="theme1" value="normal" ng-model="settings.theme" ng-change="save()" checked="checked"><span tooltip="Colorful default theme." tooltip-placement="right">Normal</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="themeRadio" id="theme2" value="dark" ng-model="settings.theme" ng-change="save()"><span tooltip="Low contrast, great in dark surroundings." tooltip-placement="right">Dark</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="themeRadio" id="theme3" value="outline" ng-model="settings.theme" ng-change="save()"><span tooltip="Higher contrast, great when presenting." tooltip-placement="right">Outline</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="initCmd" tooltip="This command gets executed when connected." tooltip-placement="top">Initial Command
              <input id="initCmd" type="string" ng-model="settings.initCmd" ng-change="save()" class="form-control input">
            </label>
          </div>
          <h5>Preferences</h5>
          <div class="checkbox">
            <label for="shouldReportUdc">
              <input id="shouldReportUdcPref" type="checkbox" ng-model="settings.shouldReportUdc" ng-change="save()"><span>&nbsp; Help improve Neo4j?&nbsp;</span><a href="http://neo4j.com/legal/neo4j-user-experience/" class="sl sl-question-mark"></a>
            </label>
          </div>
          <div class="checkbox">
            <label for="experimentalFeatures">
              <input id="experimentalFeatures" type="checkbox" ng-model="settings.experimentalFeatures" ng-change="save()"><span tooltip="Upcoming features that are in beta." tooltip-placement="top">&nbsp; Enable experimental features?</span>
            </label>
          </div>
          <div ng-show="neo4j.enterpriseEdition" class="checkbox">
            <label for="retainConnectionCredentials">
              <input id="retainConnectionCredentials" type="checkbox" ng-model="settings.retainConnectionCredentials" ng-change="save()"><span tooltip="Remember connection credentials in browser." tooltip-placement="right">&nbsp; Retain login credentials</span>
            </label>
          </div>
          <div class="checkbox">
            <label for="showSampleScripts">
              <input id="showSampleScripts" type="checkbox" ng-model="settings.showSampleScripts" ng-change="save()"><span tooltip="Show sample scripts in favorites drawer." tooltip-placement="top">&nbsp; Show sample scripts</span>
            </label>
          </div>
          <h5>Network Connection</h5>
          <div class="checkbox">
            <label for="useBolt">
              <input id="useBolt" type="checkbox" ng-model="settings.useBolt" ng-change="save(); toggleBoltUsage()"><span tooltip="Use the Bolt protocol for transport when available." tooltip-placement="top">&nbsp; Use Bolt protocol when available&nbsp;<a ng-click="openBoltHelp()" class="sl sl-question-mark"></a></span>
            </label>
          </div>
          <div class="form-group">
            <label for="boltHost" tooltip="Set host:port for server Bolt interface." tooltip-placement="top">Bolt host
              <input id="initCmd" placeholder="{{defaultBoltHost}}:7687" type="string" ng-model="settings.boltHost" ng-change="save(); updateBoltConnection()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="maxExecutionTime" tooltip="Query timeout in seconds." tooltip-placement="top">Max Execution Time
              <input id="maxExecutionTime" type="number" min="1" ng-model="settings.maxExecutionTime" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="heartbeat" tooltip="Check connection and update meta data with this interval (in seconds)" tooltip-placement="top">Heartbeat interval
              <input id="heartbeatInterval" type="number" min="1" ng-model="settings.heartbeat" ng-change="save()" class="form-control input">
            </label>
          </div>
          <h5>Result Frames</h5>
          <div class="form-group">
            <label for="maxFrames" tooltip="Max number of frames in stream. When reached, old frames gets retired." tooltip-placement="top">Max Frames
              <input id="maxFrames" type="number" min="1" ng-model="settings.maxFrames" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="maxHistory" tooltip="Max number of history entries. When reached, old entries gets retired." tooltip-placement="top">Max History
              <input id="maxHistory" type="number" min="1" ng-model="settings.maxHistory" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="checkbox">
            <label for="scrollToTop">
              <input id="scrollToTop" type="checkbox" ng-model="settings.scrollToTop" ng-change="save()"><span tooltip="Automatically scroll stream to top on new frames." tooltip-placement="right">&nbsp; Scroll To Top</span>
            </label>
          </div>
          <h5>Graph Visualization</h5>
          <div class="form-group">
            <label for="initialNodeDisplay" tooltip="Limit number of nodes displayed on first load of the graph visualization." tooltip-placement="top">Initial Node Display
              <input id="initialNodeDisplay" type="number" min="1" ng-model="settings.initialNodeDisplay" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="maxNeighbours" tooltip="Limit exploratary queries to this limit." tooltip-placement="top">Max Neighbors
              <input id="maxNeighbours" type="number" min="1" ng-model="settings.maxNeighbours" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="maxRows" tooltip="Max number of rows to render in 'Rows' result view." tooltip-placement="top">Max Rows
              <input id="maxRows" type="number" min="1" ng-model="settings.maxRows" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="maxRawSize" tooltip="Limit rendering of raw output to this number of characters." tooltip-placement="top">Max Raw Size
              <input id="maxRawSize" type="number" min="1" ng-model="settings.maxRawSize" ng-change="save()" class="form-control input">
            </label>
          </div>
          <div class="form-group">
            <label for="refreshInterval" tooltip="Refresh auto-refreshing frames on this interval (in seconds)" tooltip-placement="top">Refresh Interval
              <input id="refreshInterval" type="number" min="1" ng-model="settings.refreshInterval" ng-change="save()" class="form-control input">
            </label>
          </div>
        </form>
      </div>
    </div>
    <div ng-switch-when="credits" class="pane animate-drawer">
      <div class="inner">
        <h4>About Neo4j</h4>
        <h5>Made by<a href="http://neotechnology.com/" class="no-icon"> Neo Technology</a></h5>
        <p>Copyright &copy; 2002–<span>2016</span></p>
        <h5>Neo4j Browser</h5>
        <p><span>You are running version ${project.version}</span></p>
        <h5>License</h5>
        <p><a href="http://www.gnu.org/licenses/gpl.html" class="no-icon">GPLv3</a> or<a href="http://www.gnu.org/licenses/agpl-3.0.html" class="no-icon"> AGPL</a> for Open Source,<br>and<a href="http://neotechnology.com/" class="no-icon"> NTCL</a>
          <for>Commercial.</for>
        </p>
        <h5>Participate</h5>
        <ul>
          <li>Ask questions at<a href="http://stackoverflow.com/questions/tagged/neo4j" class="no-icon"> Stack Overflow</a></li>
          <li>Discuss Neo4j on<a href="http://groups.google.com/group/neo4j" class="no-icon"> Google Groups</a></li>
          <li>Visit a local<a href="http://neo4j.meetup.com/" class="no-icon"> Meetup Group</a></li>
          <li>Contribute code on<a href="http://github.com/neo4j" class="no-icon"> Github</a></li>
        </ul>
        <h5>Thanks</h5>
        <p>Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.</p>
      </div>
      <footer>With&nbsp;<span class="fa fa-heart"></span> from Sweden.</footer>
    </div>
  </div>
</div>
<div id="main">
  <div id="editor" ng-controller="EditorCtrl" ng-mousedown="focusEditor($event)" ng-class="{'file-loaded': settings.filemode &amp;&amp; editor.document.id, 'maximize-editor': editor.maximized}">
    <div ng-if="settings.filemode &amp;&amp; editor.document.id" class="file-bar slide-down">
      <div class="title">{{editor.document.content | autotitle}}
      </div>
      <ul class="file-actions list-inline pull-left">
        <li ng-class="{'modified': editor.hasChanged()}"><a ng-click="star()" class="fa fa-star">Save</a></li>
        <li><a ng-click="create()" class="fa fa-plus">New</a></li>
        <li><a ng-click="clone()" class="fa fa-code-fork">Clone</a></li>
        <li><a exportable ng-click="exportScript(editor.content)" tooltip="Export to file" class="fa fa-download">Download</a></li>
      </ul>
      <ul class="file-actions list-inline pull-right">
        <li><a ng-click="editor.execScript(editor.content)" class="button fa fa-play"></a></li>
        <li><a ng-click="editor.setContent(&quot;&quot;)" class="button fa fa-times"></a></li>
      </ul>
    </div>
    <div class="view-editor"><span ng-class="{'one-line': editorOneLine, 'disable-highlighting': disableHighlighting}">
        <div class="prompt code-style">$</div>
        <ui-codemirror ui-codemirror-opts="{gutters:['cypher-hints'], theme: 'neo', mode: 'cypher', autofocus: true, lineNumbers: true, lineWrapping: true, onLoad: codemirrorLoaded}" ng-model="editor.content" placeholder="{{motd.tip}}"></ui-codemirror></span>
      <ul ng-if="!(settings.filemode &amp;&amp; editor.document.id)" class="controls list-inline">
        <li><a ng-class="{'sl-star-filled': !editor.hasChanged() &amp;&amp; hoveringStar, 'sl-pencil-circle': editor.hasChanged() &amp;&amp; !hoveringStar, 'sl-pencil-filled':editor.hasChanged() &amp;&amp; hoveringStar, active: editorHasContent, 'enabled': editor.document.id, 'changed': editor.hasChanged()}" ng-mouseenter="hoveringStar=true" ng-mouseleave="hoveringStar=false" ng-click="star()" tooltip="Favorite" tooltip-placement="left" class="circled favorites sl sl-star-circle"></a></li>
        <li ng-if="!settings.filemode"><a ng-click="editor.setContent(&quot;&quot;)" ng-class="{active: editorHasContent, 'sl-delete-filled': hoveringDelete}" ng-mouseenter="hoveringDelete=true" ng-mouseleave="hoveringDelete=false" tooltip="Clear" tooltip-placement="left" class="circled delete sl sl-delete-circle"></a></li>
        <li><a ng-click="editor.execScript(editor.content)" ng-mouseenter="hoveringPlay=true" ng-mouseleave="hoveringPlay=false" ng-class="{active: editorHasContent, 'sl-play-filled': hoveringPlay}" tooltip="Play" tooltip-placement="left" class="circled play sl sl-play"></a></li>
      </ul>
      <div ng-if="editor.showMessage" ng-class="editor.errorCode" class="message-bar error slide-down"><span ng-bind-html-unsafe="editor.errorMessage"></span> Type <code click-to-code="':help commands'">:help commands</code> for a list of available commands.
        <div class="actions"><a ng-click="editor.showMessage = null" class="fa fa-times-circle"></a></div>
      </div>
      <div ng-if="unauthorized &amp;&amp; !bolt_connection_failure" ng-class="editor.errorCode" class="message-bar info"><span>
          Database access not available. Please use <code click-to-code="':server connect'">:server connect</code>
          to establish connection. There's a graph waiting for you.</span></div>
      <div ng-if="bolt_connection_failure" ng-class="editor.errorCode" class="message-bar error slide-down"><span>Can not connect to Neo4j. Please check your Network Connection<a ng-click="toggleDrawer('preferences')">&nbsp;<code>settings</code></a>.</span></div>
    </div>
  </div>
  <div frame-stream="frame-stream"></div>
</div>
<div id="diagnostics" ng-show="showVizDiagnostics">
  <div>{{ visualizationStats.fps() }} frames/s; costs: {{ visualizationStats.top() }}</div>
</div>