<script id="template/carousel/carousel.html" type="text/ng-template">
  <div ng-mouseenter="pause()" ng-mouseleave="play()" no-ng-animate="no-ng-animate" class="carousel">
    <div class="carousel-indicators-wrapper">
      <ol ng-show="slides.length &gt; 1" class="carousel-indicators">
        <li ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
      </ol>
    </div>
    <div ng-transclude="ng-transclude" class="carousel-inner"></div><a ng-click="prev()" ng-show="slides.length &gt; 1 &amp;&amp; !slides[0].active" class="carousel-control left">&lsaquo;</a><a ng-click="next()" ng-show="slides.length &gt; 1 &amp;&amp; !slides[slides.length - 1].active" class="carousel-control right">&rsaquo;</a>
  </div>
</script>